<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="loginacademia.css">
  <title>Login Academia</title>
</head>
<body>
  <div class="container">
    <h1>Bem-vindo à sua academia</h1>
    <p>Login</p>
    
    <!-- FORMULÁRIO CORRETO -->
    <form action="/login" method="post">
      <label for="email">E-mail:</label>
      <input type="text" id="email" name="email"><br><br>
      
      <label for="senha">Senha:</label>
      <input type="password" id="senha" name="senha"><br><br>

      <button type="submit">Entrar</button>
    </form>
  </div>
</body>
</html>


